/* --------------------General------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ----------------------Header---------------------------------- */

header {
    height: 80vh;
    background-image: url(assets/header-bg.jpg);
    background-position: center;
    background-size: cover;
}

nav {
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    transition: background-color 0.5s;
    z-index: 1;
}

nav button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 150px;
    font-size: 1.3em;
    font-weight: bold;
    background-color: transparent;
    color: #9A9B9D;
    padding: 10px;
    border: 1px solid #9A9B9D;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.menu-bars {
    height: 1.3em;
    fill: #9A9B9D;
}

.scrolled {
    background-color: #1E1E21;
  } 

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    font-size: 1.1em;
    margin: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
    color: #FEFEFE;
    text-decoration: none;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #FFC803;
}

.comm-logo {
    object-fit: cover;
    width: 100px;
    height: auto;
}

.header-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-text .header-wlcm {
    font-size: 2.5em;
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-text h1 {
    font-size: 5em;
    color: #FEFEFE;
}

.header-text > * {
    margin: 15px;
}

.header-btn {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bolder;
    color: #FEFEFE;
    height: 85px;
    width: 270px;
    border-radius: 5px;
    background-color: #FFC803;
    transition: background-color 0.2s;
    border: none;
}

.header-btn:hover {
    background-color: #af8a03;
    cursor: pointer;
}

/* ----------------Services---------------------------------- */
.services {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.services h1 {
    font-size: 2.5em;
}

.cart, .laptop, .lock {
    height: 70%;
    width: auto;
    color: #FEFEFE;
}

.container p {
    line-height: 1.7em;
    font-size: 1em;
    color: #6B6D6E;
}

.services-desc {
    font-style: italic;
    color: #6B6D6E;
}

.services h2 {
    font-size: 1.6em;
}

.services > * {
    margin: 10px;
}

.icon {
    height: 150px;
    width: 150px;
    padding: 25px;
    color: #FEFEFE;
}

.icons {
    display: flex;
    justify-content: center
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #FFC803;
    border-radius: 50%;
}

.container {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container > * {
    margin: 10px;
}

/* ------------PORTFOLIO------------- */
.portfolio {
    background-color: #F5F7F9;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.portfolio h1 {
    margin-top: 80px;
    font-size: 2.5em;
}

.portfolio p {
    margin-top: 15px;
    font-size: 1em;
    color: #6B6D6E;
    font-style: italic;
}

.gallery {
    margin-top: 60px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(2, 400px);
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
}

.cards-container {
    position: relative;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 450px;
}

.plus {
    position: absolute;
    fill: #FEFEFE;
    padding: 120px;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: hsla(47, 100%, 51%, 0.8);
    opacity: 0;
    transition: opacity 0.4s;
}

.plus:hover {
    opacity: 1;
    cursor: pointer;
}

.cards-container:hover::before {
    color: #FEFEFE;
    background-color: #FFC803;
    opacity: 1;
}

.gallery-img {
    width: 100%;
    height: 80%;
}

.gallery-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.gallery-txt p {
    font-style: italic;
}

.gallery-img img {
height: 100%;
width: 100%;
object-fit: cover;
}

/*------------------ ABOUT ----------------*/

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.about-cont {
    position: relative;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 350px 150px 350px;
    grid-template-rows: repeat(5,150px);
    column-gap: 50px;
    row-gap: 150px;
    justify-content: center;
    align-items: center;
}

.mobile {
    display: none;
}

.about-cont::before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 50px);
    background-color: #E4E8EC;
    right: 50%;
    z-index: -1;
}

.about h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.about p {
    font-size: 1em;
    color: #6B6D6E;
    font-style: italic;
}

.about-cont img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 5px solid #E4E8EC;
    border-radius: 50%;
}

.text-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
}

.text-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}

.part-of-story {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    border: 5px solid #E4E8EC;
    border-radius: 50%;
    background-color: #EED100;
    color: #FEFEFE;
}

.part-of-story h2 {
    width: 100px;
}

/* ---------TEAM------------ */

.team {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F7F9;
}

.team h1 {
    margin-top: 80px;
    font-size: 2.5em;
}

.team p {
    color: #6B6D6E;
    font-size: 1em;
}

.team>p {
    margin-top: 15px;
    font-style: italic;
    color: #6B6D6E;
}

.coworkers {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-cont {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-member {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #DBDBDB;
}

.team-cont h2 {
    margin-top: 15px;
}

.twitter, .fb, .linkedin {
    height: 30px;
    width: 30px;
    padding: 5px;
    fill: #FEFEFE;
    
}

.socmed-icons {
    display: flex;
}

.soc-cont {
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1E1E21;
}

.soc-cont a {
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.soc-cont a:hover {
    background-color: rgb(66, 66, 66);
}

.team-desc {
    margin-bottom: 80px;
    width: 750px;
    text-align: center;
}

/* ------- LOGOS -------------- */

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box {
    height: 150px;
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: auto;
}

/* ------------ CONTACT ---------------- */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FEFEFE;
    background-color: #1E1E21;
    height: 700px;
    background-image: url(assets/map-image.png);
    background-size: cover;
    background-position: bottom;
}

.contact h1 {
    font-size: 2.5em;
}

.contact p {
    margin-top: 15px;
    color: #6B6D6E;
    font-style: italic;
}

.contact-form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-bars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}

.form-inputs > * {
    padding: 15px;
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 600px;
    margin: 10px;
}

.contact-form textarea {
    border: none;
    border-radius: 5px;
    padding: 15px;
    height: 190px;
    width: 600px;
}

.submit-btn {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 170px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.603);
    background-color: hsla(47, 100%, 51%, 0.6);
    transition: all 0.3s;
}

.submit-btn:hover {
    color:  #FEFEFE;
    background-color: #FFC803;
    cursor: pointer;
}

/*------------FOOTER--------------*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p, footer a {
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    margin: 5px;
    text-decoration: none;
    color: #1E1E21;
    transition: color 0.3s;
}

footer a:hover {
    color: rgb(71, 71, 71);
}

/* ----- Responsive Mobile -------- */

@media only screen and (max-width:480px) {

    body {
        width: 100vw;
    }
    header {
        width: 100%;
        background-position: center;
    }
    .header-text {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.6em;
    }

    .header-btn {
        margin-top: 10px;
        height: 10%;
        width: 50%;
    }

    main {
        width: 100vw;
    }

    nav {
        position: fixed;
        top: 0;
        justify-content: space-between;
        width: 100vw;
    }
    
    .container {
        width: 100%;
    }

    .scrolled {
        width: 100vw;
    }

    nav ul {
        display: none;
    }
    nav button {
        justify-content: space-between;
        align-items: center;
        font-size: 0.8em;
        padding: 25px;
        display: flex;
        height: 90%;
        width: 30%;
    }

    .icons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .icons p {
        width: 350px;
    }

    .gallery {
        padding: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .gallery-img {
        width: 100%;
    }
    .cards-container {
        width: 100%;
    }

    .empty-cells {
    display: none;
    }

    .text-left, .text-right {
        height: 100%;
    }

    .about-cont {
        display: none;
    }

    .mobile {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 25px;
        column-gap: 0px;
    }

    .mobile img {
        margin: 10px;
        height: 100px;
        width: 100px;
    }

    .part-of-story {
        margin: 10px;
        height: 100px;
        width: 100px;
        font-size: 0.6em;
    }

    .about-cont::before {
        content: "";
        margin: 10px;
        position: absolute;
        width: 2px;
        height: calc(100% - 250px);
        background-color: #E4E8EC;
        left: 50px;
        z-index: -1;
    }

    .team {
        text-align: center;
    }

    .coworkers {
        flex-direction: column;
    }

    .team p {
        width: 100%;
    }

    .logos {
        flex-direction: column;
    }

    .contact {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    .form-bars {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .form-inputs {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .form-inputs input {
        width: 100%;
    }

    .form-bars textarea {
        width: 100%;
    }

    footer {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
    }

}