/* --------------------General------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ----------------------Header---------------------------------- */

header {
    height: 80vh;
    background-image: url(assets/header-bg.jpg);
    background-position: right;
    background-size: cover;
}

nav {
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    transition: background-color 0.5s;
    z-index: 1;
}

.scrolled {
    background-color: black;
  } 

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    font-size: 1.1em;
    margin: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: gold;
}

.comm-logo {
    object-fit: cover;
    width: 100px;
    height: auto;
}

.header-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header-text .header-wlcm {
    font-size: 2.5em;
    font-weight: 300;
    text-transform: capitalize;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-text h1 {
    font-size: 5em;
    color: white;
}

.header-text > * {
    margin: 15px;
}

.header-btn {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    height: 85px;
    width: 270px;
    border-radius: 10px;
    background-color: gold;
    transition: background-color 0.2s;
    border: none;
}

.header-btn:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

/* ----------------Services---------------------------------- */
.services {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.services h1 {
    font-size: 2.5em;
}

.cart, .laptop, .lock {
    height: 70%;
    width: auto;
    color: white;
}

.container p {
    line-height: 1.7em;
    font-size: 1em;
    color: darkgrey;
}

.services-desc {
    font-style: italic;
    color: darkgrey;
}

.services h2 {
    font-size: 1.6em;
}

.services > * {
    margin: 10px;
}

.icon {
    height: 150px;
    width: 150px;
    padding: 25px;
    color: white;
}

.icons {
    display: flex;
    justify-content: center
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: gold;
    border-radius: 50%;
}

.container {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container > * {
    margin: 10px;
}

/* ------------PORTFOLIO------------- */
.portfolio {
    background-color: rgb(248, 244, 244);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.portfolio h1 {
    margin-top: 80px;
    font-size: 2.5em;
}

.portfolio p {
    margin-top: 15px;
    font-size: 1em;
    color: darkgrey;
    font-style: italic;
}

.gallery {
    margin-top: 60px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(2, 400px);
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
}

.cards-container {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 450px;
}

.plus {
    position: absolute;
    fill: white;
    padding: 120px;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(255, 174, 0, 0.836);
    opacity: 0;
    transition: opacity 0.4s;
}

.plus:hover {
    opacity: 1;
    cursor: pointer;
}

.cards-container:hover::before {
    color: white;
    background-color: orange;
    opacity: 1;
}

.gallery-img {
    width: 100%;
    height: 80%;
}

.gallery-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.gallery-txt p {
    font-style: italic;
}

.gallery-img img {
height: 100%;
width: 100%;
object-fit: cover;
}

/*------------------ ABOUT ----------------*/

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.about-cont {
    position: relative;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 350px 150px 350px;
    grid-template-rows: repeat(5,150px);
    column-gap: 50px;
    row-gap: 150px;
    justify-content: center;
    align-items: center;
}

.about-cont::before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 50px);
    background-color: lightgray;
    right: 50%;
    z-index: -1;
}

.about h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.about p {
    font-size: 1em;
    color: darkgrey;
    font-style: italic;
}

.about-cont img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 5px solid lightgray;
    border-radius: 50%;
}

.text-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
}

.text-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}

.part-of-story {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    border: 5px solid lightgray;
    border-radius: 50%;
    background-color: orange;
    color: white;
}

.part-of-story h2 {
    width: 100px;
}

/* ---------TEAM------------ */

.team {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.team h1 {
    margin-top: 80px;
    font-size: 2.5em;
}

.team p {
    color: darkgrey;
    font-size: 1em;
}

.team>p {
    margin-top: 15px;
    font-style: italic;
    color: darkgrey;
}

.coworkers {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-cont {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-member {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid darkgrey;
}

.team-cont h2 {
    margin-top: 15px;
}

.twitter, .fb, .linkedin {
    height: 30px;
    width: 30px;
    padding: 5px;
    fill: white;
    
}

.socmed-icons {
    display: flex;
}

.soc-cont {
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
}

.soc-cont a {
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.soc-cont a:hover {
    background-color: rgb(66, 66, 66);
}

.team-desc {
    margin-bottom: 80px;
    width: 750px;
    text-align: center;
}

/* ------- LOGOS -------------- */

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box {
    height: 150px;
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: auto;
}

/* ------------ CONTACT ---------------- */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(41, 39, 39);
    height: 700px;
    background-image: url(assets/map-image.png);
    background-size: cover;
    background-position: bottom;
}

.contact h1 {
    font-size: 2.5em;
}

.contact p {
    margin-top: 15px;
    color: darkgrey;
    font-style: italic;
}

.contact-form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-bars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}

.form-inputs > * {
    padding: 15px;
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 600px;
    margin: 10px;
}

.contact-form textarea {
    border: none;
    border-radius: 5px;
    padding: 15px;
    height: 190px;
    width: 600px;
}

.submit-btn {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 170px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.603);
    background-color: rgba(255, 166, 0, 0.651) ;
    transition: all 0.3s;
}

.submit-btn:hover {
    color:  white;
    background-color: orange;
    cursor: pointer;
}

/*------------FOOTER--------------*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p, footer a {
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    margin: 5px;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

footer a:hover {
    color: rgb(71, 71, 71);
}